<div th:fragment="footer">
    <footer>
        <div class="row">
            <div class="footer__texto col-6 d-flex justify-content-center">
                <p>Bruss Acevedo Todos los derechos reservados ©</p>
            </div>

            <div class="footer__RRSS col-6 d-flex justify-content-center">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
        </div>
    </footer>
</div>